<style>

            body {
                padding: 0;
                margin: 0;
                overflow: hidden;
                background-color: #fff;
            }

            #fullscreenButton {
                position: absolute;
                right: 10px;
                top: 5px;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-weight: 300;
                font-size: 22px;
                color: #ff0000;
            }

        </style>


        <script type="text/javascript">

            var lastOrientation;
            var animationId;

            function init() {
                lastOrientation = {};
                window.addEventListener('resize', doLayout, false);
                window.addEventListener('deviceorientation', deviceOrientationTest, false);
                doLayout(document);
            }

            // Does the gyroscope or accelerometer actually work?
            function deviceOrientationTest(event) {
                window.removeEventListener('deviceorientation', deviceOrientationTest);
                if (event.beta != null && event.gamma != null) {
                    window.addEventListener('deviceorientation', onDeviceOrientationChange, false);
                    animationId = setInterval(onRenderUpdate, 10); 
                }
            }

            function onDeviceOrientationChange(event) {
                lastOrientation.gamma = event.gamma;
                lastOrientation.beta = event.beta;
            }

            function onRenderUpdate(event) {
                var xDelta, yDelta;
                switch (window.orientation) {
                    case 0:
                        xDelta = lastOrientation.gamma;
                        yDelta = lastOrientation.beta;
                        break;
                    case 180:
                        xDelta = lastOrientation.gamma * -1;
                        yDelta = lastOrientation.beta * -1;
                        break;
                    case 90:
                        xDelta = lastOrientation.beta;
                        yDelta = lastOrientation.gamma * -1;
                        break;
                    case -90:
                        xDelta = lastOrientation.beta * -1;
                        yDelta = lastOrientation.gamma;
                        break;
                    default:
                        xDelta = lastOrientation.gamma;
                        yDelta = lastOrientation.beta;
                }
                $("#movement").html(xDelta);
                if (xDelta < -40) {
                	debounced_slide_move();
                }
            }

            var debounced_slide_move = $.debounce(200, false, slide_move);

            function slide_move() {
            	alert('slide moved');
            }

            function id(name) { return document.getElementById(name); };

            window.onload = init;

        </script>

    </head>
    <body>
        <div id="movement">test</div>
    </body>