

<script type="text/javascript">

    var lastOrientation;

    function init() {
        lastOrientation = {};
        window.addEventListener('resize', doLayout, false);
        window.addEventListener('deviceorientation', deviceOrientationTest, false);
        doLayout(document);
    }

    // Does the gyroscope or accelerometer actually work?
    function deviceOrientationTest(event) {
        window.removeEventListener('deviceorientation', deviceOrientationTest);
        if (event.beta != null && event.gamma != null) {
            window.addEventListener('deviceorientation', onDeviceOrientationChange, false);
            animationId = setInterval(onRenderUpdate, 10); 
        }
    }

    function onDeviceOrientationChange(event) {
        lastOrientation.gamma = event.gamma;
        lastOrientation.beta = event.beta;
    }

    function onRenderUpdate(event) {
        var xDelta, yDelta;
        switch (window.orientation) {
            case 0:
                xDelta = lastOrientation.gamma;
                yDelta = lastOrientation.beta;
                break;
            case 180:
                xDelta = lastOrientation.gamma * -1;
                yDelta = lastOrientation.beta * -1;
                break;
            case 90:
                xDelta = lastOrientation.beta;
                yDelta = lastOrientation.gamma * -1;
                break;
            case -90:
                xDelta = lastOrientation.beta * -1;
                yDelta = lastOrientation.gamma;
                break;
            default:
                xDelta = lastOrientation.gamma;
                yDelta = lastOrientation.beta;
        }
        $("#movement").html(xDelta);
        if (xDelta < -40) {
        	alert('slide moved');
        }
    }


    function id(name) { return document.getElementById(name); };

    window.onload = init;

</script>

    </head>
    <body>
        <div id="movement">test</div>
    </body>