@import "twitter/bootstrap";
@import "twitter/bootstrap-responsive";


/* Since the entire page is the scroll container, set body and html to 100% height to disable browser native scrolling.  Remove default padding or margin to avoid native scrollbars. */
body, html { height: 100%; overflow: hidden;  padding-top: 60px; }

/* Set the size of the scroller.  Visible border to make the demo easier to understand */
#scrollable { margin-top: 60px; white-space: nowrap; width: 100%; height: 250px; border: 1px solid gray; overflow: hidden }

/* Style each 'page' to be the same size and join together into a long horizontal strip.  Use display: table on the section wrapper to get rid of whitespace between the inline-blocks. */
#sectionwrapper { width: 3600px; display: table }
#sectionwrapper section { width: 600px; height: 240px; display: inline-block; vertical-align: top;}
#sectionwrapper section div { padding: 50px; overflow: hidden; white-space: normal;}

/* Styles not relevant to scrolling (just to make the demo look neat and tidy) */
#v-scrollable { padding: 0 25px; height: 100% }

